/* SHARED */
*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
body {
    font-family: Futura, sans-serif;
    font-size: 100%;
    font-weight: lighter;
    background-color: #1a1a1a;
    color: #fff;
	min-height: 101vh;
}
h1, p, form {
    margin: 0 0 1em 0;
}
a {
    color: #e9720c;
    text-decoration: none;
}
a:hover {
    color: #656360;
}
/* Style the canvas */
#canvas {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

/* HEADER */
header {
    position: relative;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo"
    "nav";
    background: rgb(26, 26, 26)
}
/* Style full-logo */
.full-logo {
    grid-area: logo;
    margin: auto;
    padding: 1rem;
}
    /* Make full-logo responsive */
    .full-logo > a > img {
        max-height: 5rem;
        max-width: 100%;
    }
/* Style mobile-logo and hide it by default */
.mobile-logo {
    grid-area: mobile-logo;
    margin-top: .5rem;
    display: none;
}
    /* Make mobile-logo responsive */
    .mobile-logo > img {
        max-width: 100%;
}
/* Navigation menu */
nav {
    grid-area: nav;
    text-align: center;
    font-size: 1.8rem;
    max-width: 100%;
}   
    /* Strip the ul of padding and list styling */
    nav ul {
        list-style-type:none;
        padding:0;
        position: inherit;
    }
    /* Create a horizontal list with spacing */
    nav li {
        display:inline-block;
        margin-right: 2.5rem;
        margin-bottom: 1rem;
    }
    /* Style for menu links */
    nav li a {
        display: block;
        color: #fff;
        text-decoration: none;
    }
    /* Hover state for top level links */
    nav li:hover a {
        color: #656360;
    }
    /* Style 'show menu' label button and hide it by default */
    nav .show-menu {
        text-decoration: none;
        color: #fff;
        padding: 0;
        display: none;
    }
    /* Hide checkbox */
    nav > input[type=checkbox]{
        display: none;
    }
    /* Show menu when invisible checkbox is checked */
    nav > input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    /* Menu icon */
    .menu-icon {
        display: block;
        width: 2rem;
        height: 0.25rem;
        background-color: #fff;
        margin: 0.5rem 1rem auto auto;
      }

/* FOOTER */
footer {
    grid-area: footer;
    font-size: 1.3rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    min-height: 30vh;
}
    /* Display footer entries stacked */
    footer > ul > li {
        display: block;
        margin-bottom: 1rem;
        list-style-type: none;
    }
/* END SHARED */


/* START LANDING PAGE */
.landing-wrapper {
    display: grid;
    position: relative;
    grid-template-areas:
    "header"
    "landing-article"
    "footer";
    grid-template-rows: auto;  
    grid-template-columns: auto;
    background: rgb(26, 26, 26, .5);
}
.landing-article {
    grid-area: landing-article;
    display: grid;
    margin: 3rem auto 0 auto;
    grid-template-areas:
        "partners partners partners"
        "contact contact contact"
        "card1 card2 card3";
    }
    .partners {
        grid-area: partners;
        text-align: center;
        font-size: 2.5rem;
    }
    /* Style for 'contact us now' button*/
    .landing-article > form {
        grid-area: contact;
        margin: 0 auto 3.5rem auto;
    }
    .landing-article > form > input[type=submit] {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        background-color: #e9720c;
        color: white;
        padding: 0.8rem;
        border: none;
        border-radius: 0.15rem;
        cursor: pointer;
        -webkit-appearance: none; -moz-appearance: none;
    }
    /* Hover style for 'submit' button */
    .landing-article > form > input[type=submit]:hover {
        background-color: rgb(206, 100, 7);
    }
    .card1 {
    grid-area: card1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 30rem;
    margin: 0rem;
    text-align: center;
    background: #1a1a1a;
    }
    .card2 {
    grid-area: card2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 30rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    background: #1a1a1a;
    }
    .card3 {
    grid-area: card3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 30rem;
    margin: 0rem;
    text-align: center;
    background: #1a1a1a;
    }
    /* Add some padding inside the card container */
    .container {
    padding: 2px 16px;
    }


/* START REGULAR PAGE */
.wrapper {
    display: grid;
    position: relative;
    grid-template-areas:
    "header"
    "reg-article"
    "footer";
    grid-template-rows: auto;  
    grid-template-columns: auto;
    background: rgb(26, 26, 26, .5);
}
.reg-article {
    grid-area: reg-article;
    display: grid;
    margin-top: 3rem;
}
    /* Set article-left grid layout */
    .article-left {
        grid-template-areas:
            "title  title   title   title   title   title   title   title   title   title   title   title"
            "bd     bd      bd      bd      bd      bd      bd      fig     fig     fig     fig     fig";
    }
    /* Set article-right grid layout */
    .article-right {
        grid-template-areas:
            "title  title   title   title   title   title   title   title   title   title   title   title"
            "fig    fig     fig     fig     fig     bd      bd      bd      bd      bd      bd      bd";
     }
    /* Style article title */
    .title { 
        grid-area: title;
        color:#fff;
        text-align: center;
        font-size: 2.5rem;
    }
    /* Style article images */
    .fig { 
        grid-area: fig;
    }
    /* Make article image responsive */
    .fig img {
        max-width: 100%;
        
    }
    /* Style article body */
    .bd { 
        grid-area: bd;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
        font-size: 1.3rem;
        font-weight: normal;
        border-radius: .25rem;
        color: white;
        background: rgb(26, 26, 26, .0);
    }
    .bd > form {
        max-width: 30rem;
    }
    .bd > form > label {
        display: block;
    }
    /* Style for input boxes */
    .bd > form > input[type=text], input[type=email], textarea[name=message], select {
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: 0.25rem;
        margin: 0.25rem 0 1rem 0;
        border: 1px solid #ccc;
        border-radius: 0.15em;
        resize: none;
        -webkit-appearance: none; -moz-appearance: none;
    }
    /* Style for 'submit' button*/
    .bd > form > input[type=submit] {
        display: block;
        width: 100%;
        background-color: #e9720c;
        color: white;
        font-size: 1rem;
        padding: 0.45rem;
        border: none;
        border-radius: 0.15rem;
        cursor: pointer;
        -webkit-appearance: none; -moz-appearance: none;
    }
    /* Hover style for 'submit' button */
    .bd > form > input[type=submit]:hover {
        background-color: rgb(206, 100, 7);
    }


/* MOBILE VIEW */ 
@media only screen and (max-width: 768px) {
    /* SHARED MOBILE */
    #canvas {
        display: none;
      }
    /* Rearrange header layout */
    header {
        grid-template-areas: 
        "mobile-logo nav";
    }
    /* Hide full-logo */
    .full-logo {
        display: none;
    }
    /* Show mobile-logo */
    .mobile-logo {
        display: block;
        margin: 1rem 0 0 1rem;
    }
    /* Shrink mobile-logo */
    .mobile-logo img {
        max-width: 11rem;
    }
    /* Create vertical spacing */
    nav {
        margin-top: 1rem;
        font-size: 1.3rem;
        text-align: right; 
    }
    /* Make dropdown links appear inline */
    nav ul {
        position: static;
        display: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* Create vertical spacing and strip right margin */
    nav li {
        margin-right: 0;
        padding: 1rem 1rem 0rem 0rem;
    }
    /* Make all menu links full width */
    nav ul li, nav li a {
        width: 100%;
    }
    /* Display 'show menu' link */
    nav .show-menu {
        display: block;
    }
    footer {
        font-size: 1.2rem;
    }
    footer > ul > li {
        margin-bottom: 0.5rem;
    }

    /* LANDING PAGE MOBILE */
    .landing-article {
        grid-area: landing-article;
        display: grid;
        margin-top: 1.5rem;
        grid-template-areas:
        "partners"
        "contact"
        "card1" 
        "card2" 
        "card3";
    }
    .partners {
        font-size: 2rem;
    }
    .landing-article > .card1, .card2, .card3 {
        max-width: 100%;
        margin: 0 auto 0 auto;
        box-shadow: 0 0 0 0;
    }

    /* REGULAR PAGE MOBILE */
    .reg-article {
        grid-area: reg-article;
        display: grid;
        margin-top: 1.5rem;
    }
    /* Set mobile layout for article-right */
    .article-right {
        grid-template-areas:
        "title"
        "fig"
        "bd";
    }
    /* Set mobile layout for article-left */
    .article-left {
        grid-template-areas:
        "title"
        "fig"
        "bd";
    }
    .title { 
        font-size: 2rem;
    }
    .fig img {
         box-shadow: 0 0 0 0;
    }
    /* Create vertical spacing and increase font size */
    .bd {
        padding: 0;
        margin-top: 2rem;
        max-width: 90%;
        font-size: 1.1rem;
    }
}